body{
    height: 500vh;
    background-position: center;
    padding: 8vh;
}


#corpo{
    background-color: rgb(180, 190, 108);
    color: rgb(0, 0, 0);
    padding: 4em;
    margin: 1em;
    min-width: 55vw;
    max-width: 65vw;
    min-height: 85vh;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 5px 5px 5px 10px rgb(0, 0, 0, 0.6);
}

p{
    text-align: justify;
}

#texto img{
    height: 60vh;
    padding: 4vh;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.6);
}


#erangel img{
    height: 40vh;
    width: 40vw;
    padding: 4vh;
}

#miramar img{
    height: 40vh;
    width: 40vw;
    padding: 4vh;
}
#vikendi img{
    height: 40vh;
    width: 40vw;
    padding: 4vh;
}
#sanhok img{
    height: 40vh;
    width: 40vw;
    padding: 4vh;
}





#erangel img{
    height: 40vh;
}


#referencia{
    padding-top: 8vh;
    font-size: 0.8rem;
    margin-left: auto;
    padding-left: 4em;
}

#referencia a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
